player-connection-mode=Listen
player-connection-guid=937237334
player-connection-debug=1
player-connection-project-name=thirdweb-sdk-demo
player-connection-ip=192.168.1.3
player-connection-ip=10.14.0.2
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
